PLANETARY_API_DATABASE_PATH=.state/planetary.sqlite3
PLANETARY_API_SQL_ECHO=false
PLANETARY_API_CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]
PLANETARY_API_MAX_UPLOAD_BYTES=268435456
PLANETARY_API_MAX_UNPACKED_BYTES=1073741824
PLANETARY_API_MAX_ARCHIVE_FILES=10000
PLANETARY_API_DOWNLOAD_TIMEOUT=30
PLANETARY_API_WORKER_POLL_SECONDS=2
